@use "../../assets/sass/base/variables.scss" as *;

.catalog {
    padding: 60px 0;

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 13px;
        margin-top: 60px;
        padding: 13px 25px;
        border: 1px solid $dark;
    }

    &__tab {
        position: relative;
        padding: 0;
        border: none;
        background: none;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;

        &_active::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            bottom: -1px;
        }
    }

    &__content {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__card {
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        width: 340px;
    }
    &__img {
        width: 100%;
        height: 198px;
        object-fit: cover;
    }
    &__info {
        border: 1px $dark solid;
        border-top: none;
        padding: 11px 12px 16px 12px;
    }
    &__name {
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        color: #000;
    }
    &__price {
        margin-top: 7px;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        color: #000;
    }
}

@media screen and (min-width: 768px) {
    .catalog {
        &__tabs {
            width: 460px;
        }
        &__content {
            position: relative;
            padding: 10px 10px 0 10px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 200px;
                height: 200px;
                border-top: 1px solid $dark;
                border-left: 1px solid $dark;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .catalog {
        &__content {
            padding: 25px 25px 0 25px;
            gap: 35px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .catalog {
        padding: 100px 0;
        &__content {
            column-gap: 83px;
            row-gap: 25px;
        }
        &__card {
            width: 285px;
        }
        &__img {
            height: 180px;
        }
    }
}
