@use "/src/assets/sass/base/variables.scss" as *;

@mixin title {
    color: $dark;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

@mixin button {
    display: block;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid $dark;
    text-align: center;
    color: $dark;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    transition: 0.25s;
}

@mixin angle-decoration {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-top: 1px solid $dark;
        border-left: 1px solid $dark;
    }
}
