@use "/src/assets/sass/base/variables.scss" as *;

@mixin title{
    color: $dark;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}