.promo {
    &__potter {
        display: none;
    }

    &__wrapper {
        margin-top: 50px;
    }

    &__title {
        padding: 0 5px;
    }

    &__cta {
        margin-top: 40px;
    }

    &__img {
        width: 270px;
        height: 377px;
        margin: 0 auto;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    &__btn {
        margin: 18px auto 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .promo {
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__cta {
            margin-top: 0;
        }

        &__img {
            width: 230px;
            height: 321px;
        }

        &__title {
            padding: 250px 0 0 71px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .promo {
        &__potter {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: clamp(450px, 37.5vw, 640px);
            height: 633px;
            object-fit: cover;
        }
        &__title {
            padding-left: 571px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .promo {
        &__potter {
            height: 900px;
        }
        &__wrapper {
            margin-top: 79px;
        }
        &__title {
            padding: 384px 0 0 642px;
        }
        &__img {
            width: 330px;
            height: 460px;
        }
        &__btn {
            margin-top: 50px;
        }
    }
}
