@use "/src/assets/sass/base/mixins.scss" as *;
@use "/src/assets/sass/base/variables.scss" as *;

.btn-default {
    @include button;
    width: 230px;
    height: 50px;
}

.btn-send {
    @include button;
    width: 220px;
    height: 40px;
    font-size: 16px;
    &:focus {
        outline: 1px solid $ceramic;
        border: 1px solid $ceramic;
    }
    &:disabled {
        color: $ui-disabled;
        border: 1px solid $ui-disabled;
    }
}

@media screen and (min-width: 1200px) {
    .btn-default {
        &:hover {
            color: $light;
            background-color: $dark;
        }
        &:active {
            box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
            background: rgba(217, 217, 217, 0.1);
            color: $dark;
            border: none;
        }
    }

    .btn-send {
        &:active {
            border: 1px solid $ceramic;
            outline: 1px solid $ceramic;
        }
        &:hover {
            color: $ceramic;
            border: 1px solid $ceramic;
        }
    }
}

@media screen and (min-width: 1920px) {
    .btn-default {
        width: 330px;
        height: 60px;
    }
}
