@use "/src/assets/sass/base/variables.scss" as *;

.activities{
    padding-top: 60px;

    &__wrapper{
        margin-top: 20px;
        row-gap: 40px;
    }

    &__img{
        margin-top: 40px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    &__text{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;

        &_colored{
            font-weight: 500px;
            color: $ceramic;
        }
    }
}