@use "/src/assets/sass/base/variables.scss" as *;

.activities{
    padding-top: 60px;

    &__wrapper{
        margin-top: 20px;
        row-gap: 40px;
    }

    &__img{
        width: 100%;
        margin-top: 40px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    &__text{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;

        &_colored{
            font-weight: 500px;
            color: $ceramic;
        }
    }
}




@media screen and (min-width: 768px) {
    .activities{
        padding: 60px 95px 0 95px;

        &__wrapper{
            margin-top: 40px;
        }

        &__text{
            margin-top: 25px;
            font-size: 20px;
            line-height: 24px;
        }

    }
}


@media screen and (min-width: 1200px) {
    .activities{
        padding: 60px 0 0 0;

        &__wrapper{
            margin-top: 80px;
        }

        &__col{
            padding: 0 10px;
        }

        &__img{
            margin-top: 60px;
        }
        &__text{
            &_fixed{
                width: 556px;
            }
        }

    }
}



@media screen and (min-width: 1920px) {
    .activities{
        padding-top: 100px;

    }
}