@use "/src/assets/sass/base/variables.scss" as *;

.header {
    padding-top: 50px;
    position: relative;
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        a {
            display: block;
            color: $dark;
            span {
                font-size: 20px;
            }
        }
    }
    &__nav {
        display: none;
    }
    &__menu {
        padding: 50px 10px;
        position: fixed;
        z-index: 100;
        left: -100vw;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: $light;
        transition: all 0.4s;
        &_active {
            transform: translateX(100%);
        }
        &-close {
            width: 20px;
            height: 20px;
            span {
                display: block;
                height: 1px;
                width: 20px;
                background-color: $dark;
                &:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translateY(8px) rotate(-45deg);
                }
            }
        }
        &-nav {
            margin: 50px 0 0 14px;
            ul {
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                padding: 0;
                list-style-type: none;
            }
        }
        &-link {
            color: $dark;
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

.burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark;
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__nav {
            display: block;
            margin-top: 20px;
            ul {
                display: flex;
                justify-content: center;
                gap: 30px;
                padding: 0px;
                li {
                    list-style-type: none;
                }
            }
        }
        &__link {
            color: $dark;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            text-decoration: none;
        }
        &__menu {
            display: none;
        }
    }
    .burger {
        visibility: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        padding-top: 40px;
        &__logo {
            width: 150px;
            height: 151px;
        }
        &__nav {
            margin-top: 36px;
            ul {
                gap: 60px;
            }
        }
    }
}
