@use "/src/assets/sass/base/variables.scss" as *;

.footer {
    padding: 10px 0 50px 0;
    background-color: $dark;
    color: $light;

    &__header {
        margin-top: 40px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__text {
        display: block;
        font-size: 16px;
        font-weight: 400;
        margin-top: 40px;
    }
    &__form {
        width: 293px;
        display: flex;
        flex-direction: column;
    }

    &__input {
        margin-top: 40px;
        padding-bottom: 15px;
        width: 100%;
        height: 32px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $ui-active;
        color: $light;

        &:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid $ui-active;
        }

        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: $ui-active;
        }
    }

    &__check-block {
        margin-top: 20px;
        display: flex;
        align-items: center;
        a {
            color: #a22dc6;
            text-decoration: none;
            margin-left: 3px;
        }
    }
    &__checkbox {
        appearance: none;
        width: 15px;
        height: 15px;
        margin-right: 15px;
        background-color: transparent;
        border: 1px solid $light;
        border-radius: 2px;
        position: relative;

        &:checked {
            background-color: $light;
            border: 1px solid $dark;
            &::after {
                content: "";
                position: absolute;
                left: 4px;
                top: 1px;
                width: 4px;
                height: 8px;
                border: solid black;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }

    &__btn {
        width: 90px;
        height: 40px;
        margin-top: 20px;
        background-color: transparent;
        border: 1px solid $light;
        border-radius: 2px;
        color: $light;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__links {
        display: flex;
        column-gap: 66px;
        flex-wrap: wrap;

        &-block {
            display: flex;
            flex-direction: column;
        }
    }
    &__nav {
        margin-top: 40px;
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 0;
            list-style-type: none;
        }
    }
    &__link {
        a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            color: $light;
        }
    }
    &__social {
        &-block {
            margin-top: 40px;
            list-style-type: none;
            padding: 0;
            display: flex;
            a {
                color: $light;
            }
            span:before {
                font-size: 24px;
            }
        }
    }
    &__copyright {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__newsletter {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        &__newsletter {
            max-width: 295px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .footer {
        padding-top: 40px;
        &__newsletter {
            max-width: 295px;
        }
        &__copyright {
            margin-top: 18px;
        }
    }
}
