@use "../../assets/sass/base/variables.scss" as *;
@use "../../assets/sass/base/mixins.scss" as *;

.blog {
    padding: 60px 0;

    &__wrapper {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__title-h3 {
        text-align: left;
    }

    &__card {
        border: 1px solid $dark;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        background: $light;
    }

    &__data {
        &-column {
            padding: 25px 25px 0 25px;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
    }

    &__img {
        max-inline-size: calc(100% + 2px);
        transform: translateX(-1px) translateY(-1px);
    }

    &__text {
        margin-top: 25px;
        padding: 0 25px 25px 25px;
        color: $dark;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
}

@media screen and (min-width: 768px) {
    .blog {
        &__wrapper {
            padding: 25px 25px 0 25px;
            position: relative;
            @include angle-decoration;
        }
        &__text {
            margin-top: 15px;
        }
        &__data {
            &-column {
                gap: 0;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .blog {
        &__wrapper {
            gap: 50px;
            align-items: flex-start;
        }
        &__card {
            width: 520px;
            min-height: 375px;
        }
        &__img {
            height: 240px;
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 1920px) {
    .blog {
        padding: 100px 0;
        &__wrapper {
            align-items: stretch;
        }
        &__card {
            width: 670px;
        }
    }
}
