@use "/src/assets/sass/libs/modern-normalize.min.css";
@use "/src/assets/sass/libs/fontello.css";
@use "/src/assets/sass/libs/grids-min.css";
@use "/src/assets/sass/libs/grids-responsive-min.css";
@use "/src/assets/sass/base/basic.scss";

@use "/src/assets/sass/ui/titles.scss";
@use "/src/assets/sass/ui/buttons.scss";